<div>
	<select (change)="getDataofTransaction($event.target.value)">
		<option value="0">Choose Cashier</option>
		<option *ngFor="let cashier of cashiers" value={{cashier.casheirId}}>{{cashier.userName}}</option>
	</select>
</div>
<div>
	<table>
		<thead>
			<th>Date</th>
			<th>Cost</th>
			<th>Paid</th>
			<th>Change</th>
		</thead>
		<tbody *ngIf="logs">
			<tr *ngFor="let log of logs">
				<td>{{log.dates}}</td>
				<td>{{log.cost}}</td>
				<td>{{log.Paied}}</td>
				<td>{{log.changes}}</td>
			</tr>
		</tbody>
	</table>
</div>