<div>
	
	<label>Enter cost</label>
	<input [(ngModel)]="cost" type="text">
	<br>
	<label>Enter Paid amoutn</label>
	<input [(ngModel)]="paid" type="text">
	<br>
	<button (click)="cal()">Calculate</button>
	<p *ngIf="remain">{{remain}}</p>
	<br>
	<button (click)="save()">Save</button>
</div>